@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
	background-color: #ccc;
	font-family: Lato, sans-serif;
}
.main {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1rem;
}
.item {
	background-color: #fff;
	display: grid;
	padding-top: 1rem;

	&:not(.feature) {
		grid-template-columns: 1rem 1fr 1rem;
		grid-template-areas:
			". headline ."
			". content ."
			"image image image";
	}

	@supports (grid-template-rows: subgrid) {
		grid-template-rows: subgrid;
		grid-row: span 3;
	}
	@supports not (grid-template-rows: subgrid) {
		row-gap: 1rem;
		grid-template-rows: min-content;
	}

	&.feature {
		grid-column: 1 / -1;
		grid-row: span 1;
		grid-template-columns: 2fr minmax(220px, 1fr);
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			"headline image"
			"content image";
		padding: 0 0 0 1rem;
		gap: 1rem;

		h3 {
			margin: 1rem 0;
		}
		.content {
			margin-bottom: 1rem;
		}
		img {
			//aspect-ratio: 1 / 1;
			aspect-ratio: auto;
			height: 100%;
		}
	}

	h3 {
		grid-area: headline;
		margin: 0;
		font-size: 1.5rem;
	}
	.content {
		grid-area: content;
		margin: 0;
		font-size: 1rem;
		line-height: 1.25em;
		/*
		max-height:calc(1.25em * 10);
		overflow:ellipsis;
		*/
		@supports (-webkit-box-orient: vertical) {
			display: -webkit-box;
			-webkit-line-clamp: 10;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		p {
			margin: 0;
		}
	}
	img {
		width: 100%;
		object-fit: cover;
		grid-area: image;
		align-self: end;
		aspect-ratio: 3 / 2;
	}
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin: 1em 0;
}
